/* dashboard.css */
.camera-view {
    width: 100%;
    height: 300px;
    background-color: #212529;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.camera-view img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.panel-header {
    background-color: #343a40;
    color: white;
    padding: 10px 15px;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
}

.logs-container {
    height: 215px;
    overflow-y: auto;
    background-color: #212529;
    color: #fff;
    padding: 10px;
    font-family: monospace;
    border-radius: 4px;
    font-size: 0.8rem;
}

#recent-activity {
    height: 215px;
}